#edit-menu-root {
    height: 100vh;
    padding: 3vh;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

#switch-edit-root {
    position: fixed;
    width: 100vw;
    padding: 0 3vh;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

#bottom-modal-root {
    position: fixed;
    bottom: 0;
    left: 0;
}