.cardGrid {
    display: grid;
    width: 70%;
    grid-template-columns: 25% 25% 25% 25%;
    /* grid-auto-columns: auto; */
    justify-items: center;
    column-gap: 10px;
    row-gap: 10px;
}

.cardGrid a {
    width: 100%;
    text-decoration: none;
}

.cardItem {
    padding: 20px 0;
    text-align: center;
    background-color: #ac824c;
    border: solid 1px;
    border-radius: 20px;
}

.cardItem:hover {
    transform: translateY(-5px);
    transition: transform 0.3s ease-in-out;
}

.cardItem h2 {
    padding: 0 10px;
    min-width: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.cardItem img {
    width: 80%;
    height: 20vh;
    object-fit: cover;
    border-radius: 20px;
}

@media screen and (max-width: 1700px) {
    .cardGrid {
        grid-template-columns: 33% 33% 33%;
    }
}

@media screen and (max-width: 1450px) {
    .cardGrid {
        grid-template-columns: 50% 50%;
    }
}

@media screen and (max-width: 1250px) {
    .cardGrid {
        grid-template-columns: 100%;
    }
}