.menu {
    height: 10vh;
    width: calc(100vw - 120px);
    background-color: #ac824c;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.menuItem {
    display: flex;
    height: 100%;
    justify-content: space-around;
    align-items: center;
    user-select: none;
}

.menuItem:hover {
    background-color: hsla(0, 0%, 100%, 0.1);
}

.menuA {
    flex: 1;
    height: 100%;
    text-decoration: unset;
}

