.menu {
    height: 10vh;
    width: calc(100vw - 120px);
    background-color: #ac824c;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.menu a:hover {
    color: #dddddd;
}

.menu .dropdown-menu {
    background-color: #ac824c;
}

.menu .dropdown-item {
    color: white;
}

.menu .dropdown-item:hover {
    color: white;
    background-color: hsla(0, 0%, 100%, 0.1);
}

.menuItem {
    color: white;
    text-decoration: none;
}

.menuA {
    flex: 1;
    height: 100%;
    text-decoration: unset;
}

